node_modules/
dist/
build/
.turbo/
.env
.env.local
.env.production
logs/
*.log
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
coverage/
.cache/
# Accidental git file
/git

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/blob-report/
e2e/**/*.spec.ts-snapshots/